/* ---------------------------------------------------------
                           Varibles
   ---------------------------------------------------------*/

// Common colors
$black: rgba(0, 0, 0, 0.45);
$white: #fff;
$orange: #ffa500;
$blue: #007fe3;
$light-blue: #15b2ff;
$gray: #464f58;
$dark: #1a1a1a;  //for preloader

// Site colors
$accent: #e74a3d;
$over: #3D3D3D;
$dark-gray: #6c6c6c;  //header
$light-gray: #9a9a9a; //text
$light-black: #202020;

// Fonts
$base-font-sans-serif: 'Arial', 'Helvetica Neue', 'Helvetica', sans-serif;
$base-font-serif: 'Times New Roman', 'Times', 'Baskerville', 'Georgia', serif;

// Body
$base-text-color: $light-gray !default;
$base-background-color: $white !default;
$font-size-base: 14px !default;
$line-height-base: 1.4 !default;                          // 1.6 standart
$base-font-family: 'OpenSansRegular', $base-font-sans-serif !default;

$vertical-rhythm: 0; //($line-height-base * 1em);

$base-min-width: 320px;

// Liks
$base-link-color: $black;

// Buttons 
$btn-color: $white !default;
$btn-background: $accent !default;
$btn-padding: 1.25em 3.5em !default;
$btn-border-radius: 0.125em;
$btn-font-size: inherit !default;
$btn-font-family: 'OpenSansBold' !default;

// Forms
$form-element-padding: 8px 17px !default;
$form-element-border-color: #f3f3f3 !default;
$form-element-focus-border-color: $blue !default;
$placeholder-color: #898989 !default;

// Headers
$h1-font-size: 5.143em !default;  // 72px
$h2-font-size: 2.57em !default;   // 36px
$h3-font-size: 1.7em !default;    // 24px
$h4-font-size: 1.286em !default;  // 18px
$h5-font-size: 17px !default;
$h6-font-size: 15px !default;

$headings-font-family: 'SourceSansProBold' !default;
$headings-color: $dark-gray !default;

$animation-speed: 0.3s;
