/* ---------------------------------------------------------
                            Main
   ---------------------------------------------------------*/

// advantages section
.advantages_wrap {
  padding: 125px 0 79px;
  border-bottom: 1px solid #e4e4e4;

  &::before {
    content: '\e802';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -56%);
    z-index: 5;
    width: 65px;
    height: 65px;
    line-height: 65px;
    background: #f4f5f8;
    color: $accent;
    font-family: 'bino-icon';
    font-size: 31px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(244, 245, 248, 0.25);
  }
}

.advantages {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: $light-gray;
  font-family: 'SourceSansProLight';

  &__header {
    position: relative;
    margin: 27px 0 13px;
    padding: 0 0 14px;
    letter-spacing: 0.17em;
    @extend %transition;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 41px;
      height: 1px;
      background: #888888;
      @extend %transition;
    }
  }

  &__text {
    font-size: 0.8571em;
    @extend %transition;
    line-height: 1.7;

    @include media("<1024px") {
      padding: 0 20px;
    }
    @include media("<640px") {
      padding: 0;
    }
  }

  &__icon {
    position: relative;
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background: url("../img/sunglasses.png") no-repeat center;
    @extend %transition;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border: 1px solid #e4e4e4;
      @extend %transition;
    }

    &_heart {
      background: url("../img/heart.png") no-repeat center;
    }
    &_bulb {
      background: url("../img/bulb.png") no-repeat center;
    }
    &_comments {
      background: url("../img/comments.png") no-repeat center;
    }
  }
  
  &:hover {
    .advantages__icon,
    .advantages__header {
      color: $accent;
    }
    .advantages__icon {

      &::after {
        border: 1px solid $accent;
        transform: rotate(45deg);
        transform-origin: 50%;
      }
    }
  }

  &:active,
  &:visited,
  &:focus {
    color: $light-gray;
  }
}

 // history section
.history {
  padding: 140px 0 147px;
  font-family: 'SourceSansProRegular';

  @include media("<1024px") {
    padding: 80px 0;
  }
  
  &__image {
    background: url("../img/computer.png") no-repeat;
    background-size: contain;
    height: 100%;
  }

  &__heading {
    border-left: 6px solid $accent;
    line-height: 36px;
    margin-bottom: 40px;
    padding-left: 28px;
    letter-spacing: .1em;
  }

  &__text {
    line-height: 2.1em;
    margin-bottom: 30px;
  }

  &__btn {
    margin: 12px 0 0;
    padding: 1.25em 3em;
  }
}


// services section
.services {
  position: relative;
  background: $light-black;
  padding: 148px 0 80px;
  
  @include media("<1024px") {
    padding: 80px 0 30px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 45.8%;
    height: 100%;
    background: $light-black url("../img/tablet.jpg") no-repeat;
    background-size: cover;
    background-position: 20%;

    @include media("<1024px") {
      width: 32%;
    }
    @include media("<640px") {
      display: none;
    }
  }

  &__content {
    font-family: 'SourceSansProRegular';
    text-align: right;

    @include media(">=1024px") {
      padding-right: 75px;
    }
  }

  &__heading {
    border-right: 6px solid $accent;
    line-height: 36px;
    margin-bottom: 70px;
    padding-right: 28px;
    margin-right: 120px;
    letter-spacing: .1em;
    color: $white;
    text-align: right;

    @include media(">=1024px") {
      margin-right: 195px;
    }
    @include media("<480px") {
      margin-right: 0;
    }
  }
  
  &-block {
    position: relative;
    margin-bottom: 57px;
    padding-right: 120px;

    @include media("<480px") {
      padding-right: 0;
    }

    &::before {
      content: '\e801';
      position: absolute;
      top: 51%;
      right: 5px;
      transform: translate(0, -50%);
      width: 65px;
      height: 65px;
      line-height: 65px;
      background: #f4f5f8;
      color: $accent;
      font-family: 'bino-icon';
      font-size: 22px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 0 0 5px rgba(244, 245, 248, 0.25);

      @include media("<480px") {
        display: none;
      }
    }
    &__notes::before {
      content: '\e809';
    }
    &__camera::before  {
      content: '\e805';
    }

    &__heading {
      color: $accent;
      font-family: 'OpenSansSemiBold';
      margin-bottom: 3px;
    }
    &__text {
      line-height: 2.1em;
      padding-left: 20px;
    }
  }
}

.services-slider {
  .services__content {
    outline: none;
  }

  ul.slick-dots {
    position: absolute;
    top: 36.5%;
    left: 2.5%;
    @extend %listreset;
    font-size: 0;

    li {
      width: 1px;
      height: 34px;
      margin: 11px 0;
      background: #3e3e3e;
    }
    li.slick-active {
      width: 2px;
      background: $accent;
    }
  }
}


// works section
.works {
  padding-top: 127px;
}

// change content-filter plugin
.cd-tab-filter-wrapper {
  margin: 53px 0 41px;
  box-shadow: none;
  background: transparent;

  //@include media("<tablet") {
  //  margin: 50px 0 50px;
  //}
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: static;
}
.cd-main-content .is-fixed {

}
.cd-tab-filter ul,
.cd-tab-filter.is-open ul {
  box-shadow: none;
  padding: 0;

  @include media("<tablet") {
    box-shadow: 0 0 5px #c0c0c0;
    border-radius: 3px;
  }
}
.cd-main-content {
  min-height: auto;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 0;
}

.cd-tab-filter li:first-child a {
  @include media("<tablet") {
    color: $white;
    background: $accent;
    border-radius: 3px;
    border-bottom: none;

    &:hover {
      background: lighten($accent, 5%);
    }
  }
}

.cd-tab-filter {
  height: auto;
  text-align: center;
  
  li {
    position: relative;

    &:first-child a {
      font-family: 'OpenSansSemiBold';
    }

    @include media(">=tablet") {
      &::before {
        content: '';
        position: absolute;
        bottom: 9px;
        right: 0;
        height: 10px;
        width: 1px;
        background: #999;
        transform: rotate(20deg);
      }
      &:last-child::before {
        width: 0;
      }
    }
  }
  a{
    padding: 5px 20px;
    height: auto;
    line-height: normal;
    font-size: 1em;
    font-family: 'OpenSansSemiBold';

    @include media("<tablet") {
      border-bottom: 1px solid #ebebeb;
      border-radius: 3px;

      &:hover {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &:hover {
      color: $accent;
      font-size: 1em;
    }
    &.selected{
       color: $accent;
       box-shadow: none;
       font-family: 'OpenSansBold';
       font-size: inherit;
       background: transparent;
     }
  }
}

.cd-gallery {
  padding: 0;

  ul {
    @extend %listreset;
    width: 100%;
    font-size: 0;
  }

  li {
    position: relative;
    margin: 0;

    @include media("<768px") {
      width: 50%;
    }
    @include media("<480px") {
      width: 100%;
    }
    @include media(">=768px") {
      width: 25%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(231, 74, 61, 0.81);
      opacity: 0;
      @extend %transition;
    }
    &:hover::before  {
      opacity: 1;
    }
    &:hover .li-over {
      opacity: 1;
    }
  }

  .li-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    opacity: 0;
    padding: 0 0 45px 50px;
    display: flex;
    align-items: flex-end;
    font-family: 'SourceSansProSemiBold';
    @extend %transition;

    &__text {
      position: relative;
      padding: 27px 0 28px;
      color: $white;
      font-size: 24px;
      letter-spacing: .04em;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 44px;
        height: 4px;
        background: $white;
      }
      &::after {
        content: 'art / t-shirt';
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 14px;
        text-transform: lowercase;
      }
    }
  }

}




//  .portfolio-galary__header {
//    font-family: RalewayMedium;
//    color: $accent;
//    margin-bottom: 0;
//    padding: 0 15px 0 30px;
//
//
//    @include media(">=tablet") {
//      text-align: left;
//    }
//
//    @include media("<tablet") {
//      padding-left: 0;
//    }
//  }
//
//  .portfolio-galary__text {
//    color: #d1d1d1;
//    margin-bottom: 22px;
//    padding: 0 30px;
//
//    @include media("<tablet") {
//      padding-left: 0;
//    }
//  }
//
//  .portfolio-galary__lupa {
//    position: absolute;
//    top: 50%;
//    left: 50%;
//    margin-top: -21px;
//    transform: translateX(-50%);
//    opacity: 0;
//    @extend %transition;
//  }
//
//  .portfolio-galary__icon {
//    font-family: waxom-icon;
//    font-size: 25px;
//    color: $accent;
//  }
//  .portfolio-galary__icon.icon-lupa {
//    color: $white;
//    margin-left: 12px;
//  }
//
//  .portfolio-galary__li:hover {
//    background: $light-black;
//
//    .portfolio-galary__img {
//      &::before {
//        opacity: .7;
//      }
//      &::after {
//        border-bottom-color: $light-black;
//      }
//    }
//    .portfolio-galary__header {
//      color: $white;
//    }
//    .portfolio-galary__text {
//      color: $accent;
//    }
//    .portfolio-galary__lupa {
//      opacity: 1;
//    }
//  }
//}




















//&:before {            // for fontello icon might be use
//  content: '\e802';
//  transform: translate(-50%, -50%);
//  width: 20px;
//  height: 100%;
//  line-height: 65px;
//  font-family: 'bino-icon';
//  font-size: 30px;
//  color: $accent;
//}


// @extend %flex;           // flex-wrap:wrap; justify-content:space-between; align-items:center; display:flex;
// @extend %clearfix;       // &:after { content:''; display:block; clear:both; }
// @extend %transition;     // (all 0.5s ease)
// @extend %listreset;      // (margin:0; padding:0; list-style: none;)
// @extend %ellipsis;       // Match text...


// @include animate(color)          // (transform opacity, .6s) // (visibility opacity); (0.3s ease-in-out)
// @include size(16px)              // (15px, 4px);
// @include v-align(100%);          // vertical align el inside parent with fixed height/min-height
// @include placeholder;            // input { @include placeholder {color: red;} }
// @include hide-text;              // overflow:hidden; text-indent:101%; white-space:nowrap;
// @include center_transform();     // left:50%; top:50%; transform:translate(-50%, -50%); position:absolute;
// @include verrical_center_transform();    // left:0; top:50%; width: 100%; transform:translate(0, -50%); position:absolute;
// @include font(14px, 18px, #000);         // font-size, line-height, color
// @include triangle(20px, red, up);
// @include animate(color width, 1s, linear);
// @include gradient(left, right, rgba(0,0,0,1), rgba(255,255,255,1));

// font: italic 15px/1.75em 'Times New Roman';


//small: 0px,
//medium: 640px,
//large: 1024px,
//xlarge: 1200px,
//xxlarge: 1440px,


//@include media("<640px") {}

//@include media(">=640px") {}

//@include media("<1024px") {}

//@include media(">=1024px") {}

//@include media("<1200px") {}

//@include media(">=1200px") {}

//@include media("<1440px") {}

//@include media(">=1440px") {}

//@include media("<1200px", ">1024px") {}







