/* ---------------------------------------------------------
                            Main
   ---------------------------------------------------------*/

/* advantages */
.advantages_wrap {
  padding: 125px 0 79px;
  border-bottom: 1px solid #e4e4e4;

  &::before {
    content: '\e802';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -56%);
    z-index: 5;
    width: 65px;
    height: 65px;
    line-height: 65px;
    background: #f4f5f8;
    color: $accent;
    font-family: 'bino-icon';
    font-size: 31px;
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 0 0 5px rgba(244, 245, 248, 0.25);
  }
}

.advantages {
  display: block;
  text-align: center;
  margin-bottom: 30px;
  color: $light-gray;
  font-family: 'SourceSansProLight';
  text-decoration: none;

  &__header {
    position: relative;
    margin: 27px 0 13px;
    padding: 0 0 14px;
    letter-spacing: 0.17em;
    @extend %transition;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translate(-50%);
      width: 41px;
      height: 1px;
      background: #888888;
      @extend %transition;
    }
  }

  &__text {
    font-size: 0.8571em;
    @extend %transition;
    line-height: 1.7;

    @include media("<1024px") {
      padding: 0 20px;
    }
    @include media("<640px") {
      padding: 0;
    }
  }

  &__icon {
    position: relative;
    margin: 0 auto;
    width: 72px;
    height: 72px;
    background: url("../img/sunglasses.png") no-repeat center;
    @extend %transition;

    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: inherit;
      height: inherit;
      border: 1px solid #e4e4e4;
      @extend %transition;
    }

    &_heart {
      background: url("../img/heart.png") no-repeat center;
    }
    &_bulb {
      background: url("../img/bulb.png") no-repeat center;
    }
    &_comments {
      background: url("../img/comments.png") no-repeat center;
    }
  }
  
  &:hover,
  &:focus {
    .advantages__icon,
    .advantages__header {
      color: $accent;
    }
    .advantages__text {
      color: $light-gray;
    }
    .advantages__icon {

      &::after {
        border: 1px solid $accent;
        transform: rotate(45deg);
        transform-origin: 50%;
      }
    }
  }

  &:active,
  &:visited,
  &:focus {
    color: $light-gray;
  }
}

 /* history */
.history {
  padding: 140px 0 147px;
  font-family: 'SourceSansProRegular';

  @include media("<1024px") {
    padding: 80px 0;
  }
  
  &__image {
    background: url("../img/computer.png") no-repeat;
    background-size: contain;
    height: 100%;
  }

  &__heading {
    border-left: 6px solid $accent;
    line-height: 36px;
    margin-bottom: 40px;
    padding-left: 28px;
    letter-spacing: .1em;
  }

  &__text {
    line-height: 2.1em;
    margin-bottom: 30px;
  }

  &__btn {
    margin: 12px 0 0;
    padding: 1.25em 3em;
  }
}


/* services */
.services {
  position: relative;
  background: $light-black;
  padding: 148px 0 80px;
  
  @include media("<1024px") {
    padding: 80px 0 30px;
  }
  
  &:before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 45.8%;
    height: 100%;
    background: $light-black url("../img/tablet.jpg") no-repeat;
    background-size: cover;
    background-position: 20%;

    @include media("<1024px") {
      width: 32%;
    }
    @include media("<640px") {
      display: none;
    }
  }

  &__content {
    font-family: 'SourceSansProRegular';
    text-align: right;

    @include media(">=1024px") {
      padding-right: 75px;
    }
  }

  &__heading {
    border-right: 6px solid $accent;
    line-height: 36px;
    margin-bottom: 70px;
    padding-right: 28px;
    margin-right: 120px;
    letter-spacing: .1em;
    color: $white;
    text-align: right;

    @include media(">=1024px") {
      margin-right: 195px;
    }
    @include media("<480px") {
      margin-right: 0;
    }
  }
  
  &-block {
    position: relative;
    margin-bottom: 57px;
    padding-right: 120px;

    @include media("<480px") {
      padding-right: 0;
    }

    &::before {
      content: '\e801';
      position: absolute;
      top: 51%;
      right: 5px;
      transform: translate(0, -50%);
      width: 65px;
      height: 65px;
      line-height: 65px;
      background: #f4f5f8;
      color: $accent;
      font-family: 'bino-icon';
      font-size: 22px;
      text-align: center;
      border-radius: 50%;
      box-shadow: 0 0 0 5px rgba(244, 245, 248, 0.25);

      @include media("<480px") {
        display: none;
      }
    }
    &__notes::before {
      content: '\e809';
    }
    &__camera::before  {
      content: '\e805';
    }

    &__heading {
      color: $accent;
      font-family: 'OpenSansSemiBold';
      margin-bottom: 3px;
    }
    &__text {
      line-height: 2.1em;
      padding-left: 20px;
    }
  }
}

.services-slider {
  .services__content {
    outline: none;
  }

  ul.slick-dots {
    position: absolute;
    top: 36.5%;
    left: 2.5%;
    @extend %listreset;
    font-size: 0;

    li {
      width: 1px;
      height: 34px;
      margin: 11px 0;
      background: #3e3e3e;
    }
    li.slick-active {
      width: 2px;
      background: $accent;
    }
  }
}


/* works */
.works {
  padding-top: 127px;

  @include media("<1024px") {
    padding-top: 97px;
  }
}

// change content-filter plugin
.cd-tab-filter-wrapper {
  margin: 53px 0 41px;
  box-shadow: none;
  background: transparent;

  @include media("<tablet") {
     margin: 45px 0 70px;
   }
}
.cd-main-content.is-fixed .cd-tab-filter-wrapper {
  position: static;
}
.cd-main-content .is-fixed {

}
.cd-tab-filter ul,
.cd-tab-filter.is-open ul {
  box-shadow: none;
  padding: 0;

  @include media("<tablet") {
    box-shadow: 0 0 5px #c0c0c0;
    border-radius: 3px;
  }
}
.cd-tab-filter::after {
  display: none;
}

.cd-main-content {
  min-height: auto;
}
.cd-main-content.is-fixed .cd-gallery {
  padding-top: 0;
}

.cd-tab-filter li:first-child a {
  @include media("<tablet") {
    color: $white;
    background: $accent;
    border-radius: 3px;
    border-bottom: none;

    &:hover {
      background: lighten($accent, 5%);
    }
  }
}

.cd-tab-filter {
  height: auto;
  text-align: center;

  li {
    position: relative;

    &:first-child a {
      font-family: 'OpenSansSemiBold';
    }

    @include media(">=tablet") {
      &::before {
        content: '';
        position: absolute;
        bottom: 9px;
        right: 0;
        height: 10px;
        width: 1px;
        background: #999;
        transform: rotate(20deg);
      }
      &:last-child::before {
        width: 0;
      }
    }
  }
  a{
    padding: 5px 20px;
    height: auto;
    line-height: normal;
    font-size: 1em;
    font-family: 'OpenSansSemiBold';
    text-decoration: none;

    @include media("<tablet") {
      border-bottom: 1px solid #ebebeb;
      border-radius: 3px;

      &:hover,
      &:focus {
        background: rgba(0, 0, 0, 0.1);
      }
    }

    &:hover,
    &:focus {
      color: $accent;
      font-size: 1em;
    }
    &.selected{
       color: $accent;
       box-shadow: none;
       font-family: 'OpenSansBold';
       font-size: inherit;
       background: transparent;
     }
  }
}

.cd-gallery {
  padding: 0;

  ul {
    @extend %listreset;
    width: 100%;
    font-size: 0;
  }
  
  li {
    position: relative;
    margin: 0;

    @include media("<768px") {
      width: 50%;
    }
    @include media("<480px") {
      width: 100%;
    }
    @include media(">=768px") {
      width: 25%;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(231, 74, 61, 0.81);
      opacity: 0;
      @extend %transition;
    }
    &:hover::before,
    &:focus::before {
      opacity: 1;
    }
    &:hover .li-over,
    &:focus .li-over {
      opacity: 1;
    }
  }

  .li-over {
    position: absolute;
    top: 0;
    right: 0;
    bottom:0;
    left: 0;
    opacity: 0;
    padding: 0 0 45px 50px;
    display: flex;
    align-items: flex-end;
    font-family: 'SourceSansProSemiBold';
    font-size: 14px;
    text-decoration: none;
    @extend %transition;

    &__text {
      position: relative;
      padding: 27px 0 28px;
      color: $white;
      font-size: 1.5em;
      letter-spacing: .04em;

      &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 44px;
        height: 4px;
        background: $white;
      }
      &::after {
        content: 'art / t-shirt';
        position: absolute;
        bottom: 0;
        left: 0;
        font-size: 1em;
        text-transform: lowercase;
      }
    }
  }
}


/* study */
.study {
  background: $white;
  padding: 98px 15px 116px;
  margin: 46px 0;

  &_wrap {
    padding: 137px 0 149px;
    background: #f4f5f9;

    @include media("<1024px") {
      padding: 107px 15px 119px;
    }
    @include media("<640px") {
      padding: 137px 0 100px;
    }
  }

  &-bg {
    margin-top: 35px;
    background: url("../img/room.jpg") no-repeat 72% 50%;

    @include media(">=640px") {
      margin-top: 62px;
    }
  }

  .advantages__header {
    padding: 41px 0 24px;
    margin: 27px 0 25px;
  }
  .advantages__text {
    font-size: 1em;
    font-family: 'SourceSansProLight';
  }
  .advantages__icon {
    &_study {
      width: 90px;
      height: 90px;

      &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
        z-index: 2;
        background: url("../img/bulb-white.png") no-repeat center;
      }
    }

    &::after {
      width: 90px;
      height: 90px;
      transform: rotate(45deg);
      border-color: $accent;
      background: $accent;
      z-index: auto;
    }
  }

  &:hover,
  &:focus {
    .advantages__header {
      color: $dark-gray;
    }
  }
  &__btn {
    margin-top: 46px;
    padding: .9em 2.2em;
  }
}


.study-slick {
  position: relative;

  @include media("<1024px") {
    .slick-list {
      background: $white;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    }
  }

  .slick-slide {
    outline: none;

    @include media(">=1024px") {
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.15);
    }
  }

  .slick-dots {
    position: absolute;
    left: 50%;
    bottom: 97px;
    transform: translateX(-50%);
    font-size: 0;
    @extend %listreset;

    li {
      display: inline-block;
      width: 12px;
      height: 12px;
      border-radius: 50%;
      margin: 0 4px;
      background: #f4f5f9;

      &:hover,
      &:focus,
      &.slick-active {
        background: $accent;
      }
    }
  }
}


/* posts */
.posts {
  padding: 158px 0 100px;
  text-align: center;
  color: $accent;

  @include media("<1024px") {
    padding: 90px 0 40px;
  }

  &.overlay {
    &::before {
      background: rgba(#000, .5);
    }
  }

  &-item_wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @include media("<1024px") {
      justify-content: space-around;
    }
    @include media("<640px") {
      justify-content: center;
    }
  }

  &-item {
    position: relative;
    min-width: 165px;
    margin-bottom: 25px;
    padding-top: 162px;
    color: $white;

    @include media("<1024px") {
      min-width: auto;
      width: 120px;
      padding-top: 130px;
    }
    @include media("<640px") {
      width: 160px;
    }

    &::before {
      content: '\f08a';
      position: absolute;
      top: 0px;
      left: 50%;
      transform: translate(-50%);
      width: 110px;
      height: 110px;
      line-height: 110px;
      border-radius: 50%;
      border: 1px solid $white;
      font-family: 'FontAwesome';
      font-size: 2.286em;

      @include media("<1024px") {
        width: 90px;
        height: 90px;
        line-height: 90px;
      }
    }

    &_thumb::before {
      content: '\f087';
    }
    &_pen::before {
      content: '\f040';
    }
    &_star::before {
      content: '\f006';
    }
    &_flag::before {
      content: '\e806';
      font-family: 'bino-icon';
    }

    &__count {
      font-size: 1.857em;
      color: $white;
      line-height: 0.6em;
      font-family: 'OpenSansBold';

      @include media("<1024px") {
        font-size: 1.6em;
      }
    }

    &__text {
      font-size: 1.143em;
      padding: 8px 0 12px;
      letter-spacing: .06em;

      @include media("<1024px") {
        font-size: 1em;
      }
    }
  }
}


/* pricing */
.pricing {
  padding: 143px 0 140px;

  @include media("<1024px") {
    padding: 120px 0 110px;
  }

  &-card {
    margin: 62px 8px 0;
    position: relative;
    background: $light;
    text-align: center;

    &__heading {
      padding: 43px 0 129px;
      margin-bottom: 120px;
      font-family: 'OpenSansSemiBold';
      color: $white;
      background: $light-gray;
      @extend %transition;
    }

    &__price {
      position: absolute;
      top: 130px;
      left: 50%;
      transform: translateX(-50%);
      width: 150px;
      height: 150px;
      padding-top: 37px;
      background: $white;
      border-radius: 50%;
      font-size: 0.857em;
      font-family: 'OpenSansBold';
      box-shadow: 0 0 0 11px rgba(255, 255, 255, 0.31);


      &_number {
        font-size: 3.1em;
        display: block;
        @extend %transition;
      }
    }

    &__text {
      margin: 21px 0;
      padding: 0 15px;
      font-family: 'OpenSansSemiBold';

      @include media("<1024px") {
        margin: 13px 0;
      }
    }

    &__btn {
      margin: 27px 0 52px;
      padding: 1.2em 2.7em;
      font-family: 'OpenSansRegular';
      font-size: 12px;
      background: $light-gray;
    }

    &:hover,
    &:focus {
      .pricing-card__heading {
        background: $accent;
      }
      .pricing-card__price_number {
        color: $accent;
      }
      .pricing-card__btn {
        background: $accent;
        &:hover,
        &:focus {
          background: lighten($accent,10%);
        }
      }
    }
  }
}



/* team */
.team {
  z-index: 1;
  height: 745px;

  @include media("<1024px") {
    height: 600px;
  }
  
  //&::before {
  //  content: '';
  //  position: absolute;
  //  left: 0;
  //  top: 0;
  //  bottom: 0;
  //  right: 0;
  //  background: url("../img/curve.png") no-repeat 0 100%;
  //  background-size: contain;
  //}
  
  .heading {
    margin-top: 138px;
    position: relative;
    z-index: 3;
    color: $white;

    @include media("<1024px") {
      margin-top: 80px;
    }
    &__header {
      color: $white;
    }
    &__decor::before,
    &__decor::after {
      background: $white;
    }
  }
}

.team-person_absolute {
  position: absolute;
  left: 0;
  top: 258px;
  right: 0;
  width: 100%;

  @include media("<1024px") {
    top: 200px;
  }
}

.team-person_wrap {
  width: 100%;
  display: flex;
  align-items: center;
  height: 200px;
  margin-top: 97px;
  justify-content: space-between;
  align-items: stretch;

  @include media("<1024px") {
    margin-top: 58px;
  }

  //@include media(">=1700px") {
  //   height: 110px;
  //   margin-top: 125px;
  // }
  //@include media("<1700px") {
  //  height: 230px;
  //  margin-top: 120px;
  //}


  @include media("<1400px") {
    justify-content: space-around;
    //margin-top: 220px;
    //height: 150px;
  }

  //@include media("<1200px") {
  //  margin-top: 250px;
  //}
  //@include media("<1024px") {
  //  margin-top: 180px;
  //}
  //@include media("<640px") {
  //  margin-top: 80px;
  //}
}

.team-person {
  position: relative;
  border-radius: 50%;
  color: $white;
  text-align: center;

  &-first {
    //align-self: flex-end;
    margin-top: 155px;


    //@include media(">=1600px") {
    //  margin-top: 100px;
    //}
    @include media(">=1200px") {
      margin-top: 125px;
    }
    @include media(">=1600px") {
      margin-top: 100px;
    }
    @include media("<1024px") {
      margin-top: 130px;
    }
    @include media("<640px") {
      margin-top: 132px;
    }
  }
  &-second {
    margin-top: 50px;

    @include media("<1024px") {
      margin-top: 65px;
    }
    @include media("<640px") {
      margin-top: 70px;
    }
  }
  &-third {
    margin-top: 40px;

    @include media("<1024px") {
      margin-top: 45px;
    }
    @include media("<640px") {
      margin-top: 55px;
    }
  }
  &-fought {
    margin-top: 70px;

    @include media("<1024px") {
      margin-top: 70px;
    }
    @include media("<640px") {
      margin-top: 75px;
    }
  }
  &-last {
    //align-self: flex-start;
    margin-top: -80px;

    @include media(">=1200px") {
      margin-top: -35px;
    }
    @include media(">=1400px") {
      margin-top: -50px;
    }
    @include media(">=1600px") {
      margin-top: -35px;
    }
    @include media(">=1700px") {
       margin-top: 15px;
    }
    @include media("<1024px") {
      margin-top: -50px;
    }
    @include media("<640px") {
      margin-top: -35px;
    }
  }
  //@include media("<640px") {
  //  align-self: center;
  //}

  &:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 54px;
    width: 1px;
    height: 50px;
    background: $white;
    @extend %transition;
    transform: translateY(-20px) scaleY(0);
    transform-origin: 50%;
    opacity: 0;
  }

  &__face {
    position: relative;
    z-index: 1;
    width: 54px;
    height: 54px;
    margin: auto;
    border-radius: 50%;
    box-sizing: border-box;
    border: 3px solid $accent;
    background-size: contain;
    @extend %transition;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      border-radius: 50%;
      background: rgba(231, 74, 61, 0.5);
      @extend %transition;
      opacity: 0;
    }
  }

  &__text {
    position: absolute;
    top: 143px;
    left: -75%;
    width: 150px;
    z-index: 1;

    @include media("<1024px") {
      top: 110px;
    }

    @include media("<640px") {
      &_first {
        left: -15px;
      }
      &_last {
        top: 165px;
        left: auto;
        right: -15px;
      }
    }
  }

  &__name {
    line-height: 1.8em;
    color: $accent;
    text-transform: capitalize;
  }

  &__text {
    transform: scale(0);
    @extend %transition;
  }

  &:hover {
    &::before {
      opacity: .5;
      transform: translateY(15px) scaleY(1);

      @include media("<1024px") {
        transform: translateY(0) scaleY(1);
      }
    }
    .team-person__face {
      transform: scale(1.6);
      box-shadow: 0 0 10px 2px #000;

      @include media("<640px") {
        transform: scale(1.3);
      }
      &::before {
        opacity: 1;
      }
    }
    .team-person__text{
      transform: scale(1);
    }
  }
}
.svg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #ccc;
  bottom: 0;
  overflow: hidden;
  background-position: 50%;
}




/* brands */
.large_5 {
  @include media(">=1024px") {
    max-width: 20%;
  }
}
.brands_mg {
  margin-bottom: 29px;
}

.brands {
  padding: 137px 0 111px;
  background: $light;
  border-bottom: 1px solid #d8d9db;

  @include media("<1024px") {
    padding: 107px 0 80px;
  }

  &-heading {
    margin-bottom: 62px;
  }

  .heading__header {
    letter-spacing: normal;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 100px;

    background: $white;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      z-index: 1;
      padding: 15px;
      background-size: contain;
      background-origin: content-box;
      background-repeat: no-repeat;
      background-position: center;
    }
    &_1::before {
      background-image: url("../img/brands/brand-gray_1.png");
    }
    &_2::before {
      background-image: url("../img/brands/brand-gray_2.png");
    }
    &_3::before {
      background-image: url("../img/brands/brand-gray_3.png");
    }
    &_4::before {
      background-image: url("../img/brands/brand-gray_4.png");
    }
    &_5::before {
      background-image: url("../img/brands/brand-gray_5.png");
    }
    &_6::before {
      background-image: url("../img/brands/brand-gray_6.png");
    }
    &_7::before {
      background-image: url("../img/brands/brand-gray_7.png");
    }
    &_8::before {
      background-image: url("../img/brands/brand-gray_8.png");
    }
    &_9::before {
      background-image: url("../img/brands/brand-gray_9.png");
    }
    &_10::before {
      background-image: url("../img/brands/brand-gray_10.png");
    }
    &::after {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      background: rgba(231, 74, 61, 1);
      opacity: 0;
      box-shadow: 1px 2px 15px rgba(0, 0, 0, 0.4);
    }
    &:hover,
    &:focus {

      &::after {
        opacity: 1;
      }
      &::before {
        padding: 15px;
        background-size: contain;
        background-origin: content-box;
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
  &__link_1:hover,
  &__link_1:focus {
    &::before {
      background-image: url("../img/brands/brand-white_1.png");
    }
  }
  &__link_7:hover,
  &__link_7:focus {
    &::before {
      background-image: url("../img/brands/brand-white_7.png");
    }
  }


  //&__link {
  //  display: flex;
  //  justify-content: center;
  //  align-items: center;
  //  position: relative;

    //&::before {
    //  content: '';
    //  position: absolute;
    //  top: 0;
    //  left: 0;
    //  bottom: 0;
    //  right: 0;
    //  background: rgba(231, 74, 61, 0.1);
    //  opacity: 0;
    //}
    //&:hover {
    //  &::before {
    //    opacity: 1;
    //  }
    //}
  //}
  //&__logo {
  //  box-shadow: 1px 2px 5px rgba(57, 57, 57, 0.1);
  //  max-width: 100%;
  //  height: auto;
  //}
}

/* blog */

.blog-full {
  min-width: 100%;
}
.blog {
  padding: 106px 0 0;
  background: $light;

  @include media("<1024px") {
    padding: 76px 0 0;
  }

  .heading {
    margin-bottom: 65px;
  }

  &__container {
    display: flex;
    justify-content: center;

    @include media("<640px") {
      flex-direction: column-reverse;
    }

    &_reverse {
      @include media(">=1024px") {
        flex-direction: row-reverse;
      }
    }

    &:nth-child(even) {
      @include media("<1024px", ">=640px") {
        flex-direction: row-reverse;
      }
    }
  }

  &__image {
    display: block;
    background-color: $light-gray;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    @include media(">=640px") {
      flex: 0 0 50%;
    }
    @include media("<640px") {
      flex-basis: 350px;
    }
  }

  &__content {
    padding: 50px 30px;
    background: $accent;
    color: $white;
    font-size: 1.1428em;

    @include media(">=1600px") {
      padding: 66px 48px;
    }

    @include media(">=640px") {
      flex: 0 0 50%;
    }
  }

  &__heading {
    position: relative;
    padding: 30px 0 10px;
    margin-bottom: 35px;
    color: $white;
    font-size: 1.5em;
    letter-spacing: .04em;
    font-family: 'SourceSansProSemiBold';

    @include media(">=1600px") {
      padding: 39px 0 16px;
      margin-bottom: 42px;
    }

    &::before {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 44px;
      height: 4px;
      background: $white;
    }
    &::after {
      content: 'art / t-shirt';
      position: absolute;
      top: 0;
      left: 0;
      font-size: 14px;
      text-transform: lowercase;
      font-family: 'OpenSansRegular';
    }
  }

  &__text {
    margin-bottom: 30px;
    line-height: 1.7em;

    @include media(">=1600px") {
      line-height: 1.9em;
      margin-bottom: 43px;
    }
  }
  
  &__link {
    position: relative;
    display: block;
    color: $white;
    font-size: 18px;
    font-family: 'OpenSansSemiBoldItalic';
    text-decoration: none;

    &::after {
      content: '\f101';
      position: absolute;
      top: 1px;
      left: 98px;
      font-family: 'FontAwesome';
    }

    &:hover,
    &:focus {
      color: $white;
      text-shadow: 0.5px 0 2px rgba(255, 255, 255, 0.6);
    }
  }
}


/* connection */
.connection {
  padding: 137px 0 152px;
  background: $light;

  @include media("<1024px") {
    padding: 107px 0 120px;
  }

  .heading {
    margin-bottom: 62px;
  }
}

.contacts_wrap {
  @include media("<640px") {
    margin-bottom: 30px;
  }
}
.contacts,
.message {
  padding: 91px 90px 93px;
  height: 100%;
  display: block;
  border-radius: 3.5px;
  background: $white;
  box-shadow: 0px 4px 5px rgba(0, 0, 0, 0.1);

  @include media("<1024px") {
    padding: 60px 35px 63px;
  }
}
.message {
  position: relative;

  @include media("<640px") {
    padding-bottom: 60px;
  }

  &__success {
     position: absolute;
     top: 0;
     left: 0;
     right: 0;
     bottom: 0;
     display: none;
     padding: 0 40px;
     text-align: center;
     align-items: center;
     justify-content: center;
     font-weight: bold;
     @extend %transition;
     z-index: 10;
     font-size: 1.7em;
     color: $accent;

     & ~ * {
       transition: all .5s ease;
     }

     &.active {
       & ~ * {
         opacity: 5;

         filter: blur(10px);
       }
     }
   }
}

.contact {
  &__heading {
    font-family: 'SourceSansProSemiBold';
    color: $accent;
    margin-bottom: 14px;
    margin-top: 58px;

    @include media("<1024px") {
      margin-top: 45px;
    }

    &_first {
      margin-top: 0;
    }
  }


  &__text {
    //padding-bottom: 58px;
    font-size: 1.286em;
    line-height: 1.4em;
    display: block;
    text-decoration: none;


    
      &:hover,
      &:focus {
        color: $gray;

      }
  }
}

input.message__input,
input.message__input:focus,
textarea.message__textarea,
textarea.message__textarea:focus {
  margin-bottom: 23px;
  padding: 6px 0 16px;
  border: none;
  border-bottom: 1px solid #e5e5e5;
  width: 100%;
  outline: none;
  box-shadow: none;
  color: $light-gray;
  font-family: 'OpenSansSemiBold';

  @include media("<1024px") {
    margin-bottom: 20px;
  }
}
.message__textarea {
  min-height: 118px;
  max-height: 500px;
  overflow: scroll;
  resize: none;

  @include media("<1024px") {
    min-height: 80px;
  }
}

.message__btn {
  margin: 7px 0 0;
  padding: .8em 1.9em;
}


/* start */
.start {
  padding: 137px 0 138px;

  @include media("<1024px") {
    padding: 107px 0 108px;
  }

  .overlay:before {
    background: rgba(#000, .6);
  }
  
  .heading {
    &__header {
      text-transform: capitalize;
      color: $white;
      letter-spacing: 0.025em;

      span {
        font-family: 'OpenSansLight';
      }
    }
    &__text {
      color: $white;
      font-size: 1.286em;
      margin: 3px 0 64px;
    }
    &__decor {
      display: none;
    }
  }

  &__btn {
    margin: 0 auto;
  }
}








